<%- include("partials/header"); -%>
<h1 style="text-align: center; color: #f13d10">About</h1>
<p> <%= aboutContent %> </p>
<h4>Few of my more websites while learning:-</h4>
<div class="link">
    <a href="https://bknewsletter.herokuapp.com/" target="blank">News-letter Subscription</a>
    <a href="https://binu42.github.io/Drum-kit/" target="blank">Drum kit</a>
    <a href="https://binu42.github.io/simon-game/" target="blank">Simon Game</a>
    <a href="https://secretwhisper.herokuapp.com/" target="blank">Secret Whisper</a>
</div>
<%- include("partials/footer"); -%>