<%- include("partials/header"); -%>

<div class="container-fluid">
  <h2 style="text-align: center; color: #f11760"><%=title%></h2>
  <p style="color: #030303"><%-content%></p>
</div>

<%- include("partials/footer"); -%>