html {
  min-height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  clear: both;
}

body {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.pad {
  padding-bottom: 4rem;
  padding-top: 6rem;
}

.navbar {
  width: 100%;
  font-size: 18px;
  position: fixed;
  border-bottom: #26e1ee 3px solid;
  top: -1px;
  z-index: 1;
}

.navbar-toggler:hover {
  border-color: #1abc9c;
}

.navbar.navbar-custom .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=fff');
}

.navbar.navbar-custom .navbar-toggler-icon:hover {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=000');
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.footer-padding {
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 130px;
  padding: 10px;
  background-color: #1abc9c;
}

i {
  color: black;
}

i:hover {
  color: #fff;
}

.footer p {
  margin-top: 15px;
  font-size: 16px;
  color: #fff;
}

.link a {
  display: block;
}

h3 {
  color: #070707;
}

p {
  color: #1f1a1a;
}

a:hover {
  color: #915757;
}

@media(max-width: 40rem) {
  .footer p {
    font-size: 18px;
  }

  body {
    font-size: 22px;
  }

  img {
    max-width: 90%;
    max-height: 100%;
  }
}